.blog {
  display: flex;
}

.card {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  text-align: left;
  margin: 2rem;
}

.card:hover {
  transition: all ease-in 0.3s;
  background-color: rgba(79, 77, 77, 0.6);
}

.imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contentwrap {
  padding: 2rem;
  line-height: 1.6;
}

.card img {
  height: 80px;
  margin-top: 1rem;
}
