.footer {
  padding: 2em;
  background: #fff;
  margin-top: auto;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  width: 30px;
  height: 30px;
  margin: 0 1rem;
  filter: invert(1);
}
