.footer {
  height: 60px;
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer img {
  width: 30px;
  height: 30px;
  margin: 0 1rem;
  filter: invert(1);
}
