.navbar {
  display: flex;
  justify-content: space-between;
  background: #333;
  height: 60px;
  text-align: center;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  margin: 2rem;
  cursor: pointer;
}

a:hover {
  color: rgb(196, 52, 52);
  transition: all ease-in 0.2s;
}
